/* ArticleCard.css */
.article-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-card:hover .card-content {
  opacity: 1;
}

.card-content {
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow: hidden;
}
